<div class="column is-6 is-offset-3 centered-text">
    <div class="is-size-2">
        New Post
    </div>
    <%= link_to 'Back', posts_path, class: "button is-light"%>
    <%= render 'form', post: @post %>
</div>